*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
body{
    max-width: 1800px;
    margin: auto;
}
.primary-btn{
    margin-top: 20px;
    padding: 12px 25px ;
    border-radius: 50px;
    background-color:#ff42a5 ;
    color: white;
    border: 2px solid #ff42a5;
    font-size: 18px;
    transition: all .5s;
}
.primary-btn:hover{
    background-color:white; ;
    color:  #ff42a5;
    border: 2px solid  #ff42a5;
    transform: scale(1.1);
}
.go-btn{
    margin-top: 20px;
    margin-left: 20px;
    padding: 12px 25px ;
    border-radius: 50px;
    background-color:#4ec5f7 ;
    color: white;
    border: 2px solid #4ec5f7;
    font-size: 18px;
    transition: all .5s;
}
.go-btn:hover{
    background-color:white; ;
    color:  #4ec5f7;
    border: 2px solid  #4ec5f7;
    transform: scale(1.1);
}
.faka{
    margin: 0 120px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo{
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}
.logo img{
    width: 84px;
}
.localh3{
    font-size: 45px;
    color: #0B0223;
    font-weight: 700;
    margin-bottom: 15px;
}
.localh3 span{
    color: #ff42a5;
}
.localh3 .halka-jhapsha{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu ul{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.menu li{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.follow{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    background-color:rgba(11, 2, 35, 0.10);
    border-radius: 5px;
}
.follow img{
    width: 25px;
}

.goat{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-image: url("./images/Group\ 14.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.goat-text h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.goat-text h1{
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-box1, .icon-box2, .icon-box3{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.icon-box img{
    width: 24px;
}

.gamer-text{
    padding-right: 120px;
}
.gamer{
    background-color:#fff9fc ;
    background-image: none;
}
.gamer-text{
    text-align: right;
}
.localp{
    color: #534C64;
    font-size: 16px;
    margin-bottom: 15px;
}
.gamer-text h6{
    color: #534C64;
    font-size: 22px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}
.gamer-text h4{
    color: #534C64;
    font-weight: 700;
    font-size: 28px;
}
.ogfv{
    text-align: center;
    margin: 100px 0 30px 0;
}
.video-box{
    position: relative;
    cursor: pointer;
}
.video-box img{
    width: 100%;
    height: 400px;
    margin: 20px 0;
}
.video-btn{
    background-color: rgba(0, 0, 0, 0.716);
    width: 98%;
    height: 393px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 20px;
    border: 4px solid #ff42a5;
    transition: all .5s;
    visibility: hidden;
    opacity: 0;
}
.video-box:hover .video-btn{
    visibility: visible;
    opacity: 1;
}
.video-btn img{
    width: 50px;
    height: 50px;
    margin-top: 175px;
}
.video-btn p{
    font-size: 15px;
    color: #ff42a5;
}
.video {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
}
.play-instant{
    margin-top: 80px;
    background-image: none;
}
.play-instant-text{
    text-align: right;
    padding: 0 200px 0 100px;
}
.play-instant-img{
    position: relative;
}
.upore{
    position: absolute;
    left: -150px;
    bottom: -100px;
}
.action-btn{
    margin-top: 100px;
    padding: 80px 0;
    background-color: #fff9fc;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.img-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px 25px;
    background: #ffffff;
    border-radius: 50px;
    border: 2px solid #ffffff;
    transition: 0.5s;
    font-size: 17px;
}
.img-btn:hover{
    color: #ff42a5;
    border: 2px solid #ff42a5;
}
button{
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: #0b0223;
    padding: 80px 20px;
}
footer>.logo>h3{
    color: white;
}
footer>.logo{
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.logo>h3{
    margin-bottom: 0;
}
footer ul{
    display: flex;
    gap: 40px;
    margin: 40px 0px;
    justify-content: center;
    flex-wrap: wrap;
}
footer li{
    list-style: none;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
}
.footer-bottom-menu > ul>li{
    color:rgba(255, 255, 255, 0.60) ;
}
footer>p{
    color:rgba(255, 255, 255, 0.60) ;
}



@media (min-width:946px) and (max-width:1024px) {
    .faka{
        margin: 0 20px;
    }
    .play-instant-img>img {
        margin-top: 20px;
        width: 400px;
        margin-left: 30px;
    }
    .goat-img img{
        width: 500px;
    }
    .banner-img{
        width: 500px;
    }
    .gamer-text {
        padding-right: 20px;
    }
    .video {
        grid-template-columns: repeat(2, 1fr);
    }
    .play-instant-text {
        text-align: right;
        padding: 0 100px 0 60px;
    }
    .upore img{
        width: 200px;
    }
    .upore {
        position: absolute;
        left: -75px;
        bottom: -50px;
    }
    .play-instant-img img {
        margin-top: 20px;
        width: 250px;
        margin-left: 30px;
    }
    .play-instant-text {
        margin-top: 80px;
        text-align: center;
        padding: 0 10px 0 10px;
    }
    .upore img {
        width: 120px;
    }
    .upore {
        left: -50px;
        bottom: -30px;
    }
}
@media (min-width:577px) and (max-width:946px) {
    .faka{
        margin: 0 20px;
    }
    .goat-img img{
        width: 100%;
    }
    .banner-img{
        width: 100%;
    }
    .gamer-text {
        padding-right: 20px;
    }
    .video {
        grid-template-columns: repeat(2, 1fr);
    }
    .goat-text h1 {
        font-size: 50px;
    }
    .goat-text h2 {
        font-size: 35px;
    }
    .play-instant-img img {
        margin-top: 20px;
        width: 250px;
        margin-left: 30px;
    }
    .play-instant-text {
        margin-top: 80px;
        text-align: center;
        padding: 0 10px 0 10px;
    }
    .upore img {
        width: 120px;
    }
    .upore {
        left: -50px;
        bottom: -30px;
    }
    .img-btn {
        gap: 10px;
        padding: 5px 10px;
        background: #ffffff;
        border-radius: 50px;
        border: 2px solid #ffffff;
        transition: 0.5s;
        font-size: 15px;
    }
    .img-btn img {
        gap: 5px;
        width: 40px;
    }
}
/* Mobile-Responsive */
@media (max-width:576px) {
    .faka {
        margin: 0 0;
    }
    nav {
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .menu li {
        margin: 25px 0;
    }
    .logo{
        margin: 50px 0;
    }
    .goat{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .goat-text {
        padding: 30px 0;
        text-align: center;
    }
    .goat-img img, .banner-img {
        padding: 10px;
        width: calc(100% - 30px);
    }
    .goat-text h1 {
        font-size: 80px;
    }
    .goat-text h2 {
        font-size: 45px;
        line-height: 20px;

    }
    .primary-btn, .go-btn{
        margin-top: 0;
    }
    .icon-box1, .icon-box2, .icon-box3 {
        margin-bottom: 5px;
    }
    .gamer-text {
        padding: 0px 0 40px 0;
        width: 97%;
        text-align: center;
    }
    .gamer-text p{
        padding: 20px;
    }
    .video-box {
    width: calc(100% - 40px);
    position: relative;
    cursor: pointer;
    }
    .video {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    }
    .play-instant-img img {
        margin-top: 20px;
        width: 250px;
        margin-left: 30px;
    }
    .play-instant-text {
        margin-top: 80px;
        text-align: center;
        padding: 0 10px 0 10px;
    }
    .upore img {
        width: 120px;
    }
    .upore {
        left: -50px;
        bottom: -30px;
    }
    .img-btn{
        gap: 2px;
        font-size: 12px;
        padding: 5px 2px;
    }
    .img-btn img{
        gap: 5px;
        width: 25px;
    }
    .action-btn {
        margin-top: 100px;
        padding: 35px 0;
        gap: 5px;
    }
    footer{
        text-align: center;
        background-color: #0b0223;
        padding: 40px 10px;
    }
    footer ul {
        gap: 20px;
    }
    footer ul li {
        font-size: 16px;
    }
}
